// screen sizes
$desktop: 800px;

// code
$transition: 1s ease;

// light theme
$primary: white;
$secondary: black;
$accent: #6d4f462e;
$shadow: #e4e4e4;
$secondary-light: lighten($secondary, 50%);
$accent-light: lighten($accent, 40%);
$shadow-light: lighten($shadow, 8%);
$shadow-dark: darken($shadow, 10%);

// // dark theme
// $primary: #1f1f1f;
// $secondary: #ffffff;
// $accent: #302a29;
// $shadow: #1b1b1b;
// $secondary-light: darken($secondary, 50%);
// $accent-light: darken($accent, 0%);
// $shadow-light: lighten($shadow, 8%);
// $shadow-dark: darken($shadow, 3%);
